<!DOCTYPE html>
<html>

<head>
    <% include elements/head %>
</head>

<body>
    <div id="wrapper">
        <% include elements/navbar %>
            <div id="page-wrapper">
                <% include elements/title %>
                    <%- body %>
            </div>
    </div>
    <% include elements/script %>
</body>

</html>